*{
    margin: 0;
    padding: 0;
}
body{
    /*background-color: #000000;*/
}
div{
    width: 300px;
    height: 600px;
    border: 5px green solid;
    position: relative;
    margin: 10px auto;
}
/*
canvas{
    cursor: -webkit-grab;
    cursor: -moz-grab;
}*/